/* a, span, em, input */

@import "vars";
@import "mixins";

body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #111;
  min-height: 3000px;
}
.header {
  $h: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: $h;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  //background-color: #fff;
  z-index: 99;
  transition: all 0.25s ease;
  &:before {
    content: "";
    display: block;
    height: 80px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:after {
    content: "";
    display: block;
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 80px;
    z-index: -1;
  }
  &.on {
    height: 350px;
  }
  .logo {
    a {
      display: flex;
      align-items: center;
      height: $h;
      img {
        height: 30px;
      }
    }
  }
  .gnb {
    &__list {
      display: flex;
      justify-content: center;
      > li {
        > a {
          font-size: 18px;
          font-weight: 700;
          height: $h;
          display: flex;
          align-items: center;
          padding: 0 40px;
        }
      }
      &--sub {
        padding: 30px 0;
        color: #fff;
        li {
          a {
            display: block;
            padding: 5px 0 5px 40px;
          }
        }
      }
    }
  }
  .language {
    display: flex;
    height: 80px;
    align-items: center;
    gap: 0 20px;
    font-weight: 700;
    .on {
      color: $blue;
    }
  }
}
