@import "vars";
@import "mixins";
.main-visual {
  ul {
    li {
      height: 100vh;
      background-size: cover;
      background-position: 50%;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  &--visual01 {
    background-image: url("../images/main/visual01.jpg");
  }
  &--visual02 {
    background-image: url("../images/main/visual02.jpg");
  }
  &--visual03 {
    background-image: url("../images/main/visual03.jpg");
  }
  &__txt {
    position: absolute;
    top: 50%;
    left: 200px;
    color: #fff;
    z-index: 2;
    .word {
      overflow: hidden;
    }
    &--main {
      font-weight: 900;
      font-size: clamp(36px, 5vw, 64px);
      line-height: 1.2;
    }
    &--sub {
      font-size: 24px;
    }
  }
}
