@import "vars";
@import "mixins";
.container {
  width: 1200px;
  margin: auto;
}
.main-visual {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
  ul {
    li {
      height: 100vh;
      background-size: cover;
      background-position: 50%;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  /*
  &--visual01 {
    background-image: url("../images/main/visual01.jpg");
  }
  &--visual02 {
    background-image: url("../images/main/visual02.jpg");
  }
  &--visual03 {
    background-image: url("../images/main/visual03.jpg");
  }
  */
  @for $i from 1 through 3 {
    &--visual0#{$i} {
      background-image: url("../images/main/visual0#{$i}.jpg");
    }
  }

  &__txt {
    position: absolute;
    top: 50%;
    left: 200px;
    color: #fff;
    z-index: 2;
    .word {
      overflow: hidden;
    }
    &--main {
      font-weight: 900;
      font-size: clamp(36px, 5vw, 64px);
      line-height: 1.2;
    }
    &--sub {
      font-size: 24px;
    }
  }
  .pagination {
    position: absolute;
    bottom: 50px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    &-box {
      width: auto;
    }
    .swiper-pagination-bullet {
      opacity: 1;
      width: 30px;
      height: 30px;
      background: none;
      border: 3px solid #fff;
      border-radius: 100px;
      transition: all 0.25s ease;
      &-active {
        background-color: #fff;
        width: 120px;
      }
    }
    .btn {
      width: 30px;
      height: 30px;
      border: 3px solid #fff;
      border-radius: 100px;
      //background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.off:before {
        @include icon("\e037");
      }
      &:before {
        @include icon("\e034");
        color: #fff;
        font-size: 20px;
      }
    }
  }
}
.section {
  padding: 100px 0;
  background-color: #fff;
  .title-box {
    h2 {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
}
.business {
  margin-top: 100vh;
  .title-box {
    text-align: center;
    h2 {
      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 5px;
        background-color: $red;
        margin: 30px auto;
      }
    }
  }
  &-list {
    display: flex;
    margin-top: 100px;
    li {
      width: 20%;
      //aspect-ratio: 1/1.5;
      text-align: center;
      position: relative;
      background-image: url("../images/main/img_business.png");
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          background-position: (-240px * ($i - 1)) 0;
        }
      }
      a {
        display: block;
        height: 420px;
      }
      h3 {
        font-size: 24px;
        font-weight: 700;
        padding-top: 100px;
        color: #fff;
        position: relative;
        z-index: 2;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(231, 98, 9);
        opacity: 0;
        transition: all 0.25s ease;
        pointer-events: none;
      }
      &:before {
        content: "";
        display: block;
        background-image: url("../images/main/bg_common.png");
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        width: 200px;
        height: 200px;
        left: 50%;
        top: 150px;
        transform: translateX(-50%);
        //border: 1px solid #fff;
        opacity: 0;
        transition: all 0.25s ease;
        pointer-events: none;
      }
      &:nth-child(1):before {
        width: 123px;
        height: 112px;
        background-position: -168px 0px;
      }
      &:nth-child(2):before {
        width: 123px;
        height: 112px;
        background-position: -301px 0px;
      }
      &:nth-child(3):before {
        width: 130px;
        height: 106px;
        background-position: 0px -122px;
      }
      &:nth-child(4):before {
        width: 130px;
        height: 111px;
        background-position: -140px -122px;
      }
      &:nth-child(5):before {
        width: 103px;
        height: 103px;
        background-position: -280px -122px;
      }
      &:hover:after {
        opacity: 1;
      }
      &:hover:before {
        opacity: 1;
      }

      /*
      &:nth-child(1) {        background-position: 0 0;      }
      &:nth-child(2) {        background-position: -240px 0;      }
      &:nth-child(3) {        background-position: (-240px * 2) 0;      }
      &:nth-child(4) {        background-position: (-240px * 2) 0;      }
      &:nth-child(5) {        background-position: (-240px * 2) 0;      }
      */
      //보간 interpolation
    }
  }
}
.board {
  background-color: #58595b;
  position: relative;
  &-item {
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    background-color: $red;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .container {
    display: flex;
    .board-item {
      width: 50%;
      color: #fff;
      h2 {
        font-size: 36px;
        margin-bottom: 50px;
      }
      ul {
        li {
          padding: 20px 0;
          border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
          a {
            display: block;
            @include ellipsis;
            position: relative;
            //@include multiEllipsis(3, 1.5);
            padding-right: 50px;
            &:after {
              display: block;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              @include icon("\e5c8");
            }
          }
        }
      }
      &:nth-child(1) {
        padding-right: 100px;
      }
      &:nth-child(2) {
        padding-left: 100px;
      }
    }
  }
}
.util {
  background-color: #f8f8f8;
  .container {
    display: flex;
    .util-item {
      width: 50%;
      background-color: #fff;
      padding: 50px;
      h2 {
        font-size: 36px;
        margin-bottom: 50px;
      }
      background-repeat: no-repeat;
      background-position: right 50px top 50%;
      &:nth-child(1) {
        background-image: url("../images/main/bg_faq.png");
      }
      &:nth-child(2) {
        background-image: url("../images/main/bg_custom.png");
      }
    }
  }
}
